@using MediocreWeb
@inherits ServiceStack.Razor.ViewPage
@{
  string pageTitle = ViewBag.PageTitle ?? "Mediocresoft";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title>@pageTitle</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" media="screen"/>
  <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
  <script src="@Url.Content("~/js/jquery-1.10.2.min.js")"></script>
  <script src="@Url.Content("~/js/bootstrap.min.js")"></script>
</head>
  <body>
    <div class="container">
      <div class="row">
        <header class="col-12 col-lg-12">
          <h1>@pageTitle</h1>
        </header>
      </div>
      <div class="row">
        <div class="col-12 col-lg-12">
          @RenderBody()
        </div>
      </div>
      <div class="row">
        <footer class="col-12 col-lg-12">
          I'm Aaron Dandy, a software developer and a human.
          <ul class="list-unstyled">
            <li><a href="http://github.com/aarondandy">My GitHub</a></li>
            <li><a href="http://mediocresoft.com/vertesaur">Vertesaur</a></li>
            <li><a href="http://mediocresoft.com/dandydoc">Dandy Doc</a></li>
          </ul>
        </footer>
      </div>
    </div>
  </body>
  @if (!Global.AppHost.IsDebug) {
    Html.Partial("_ga");
  }
</html>
