@inherits ServiceStack.Razor.ViewPage
<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/sh/shCore.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/sh/shThemeVS2012Light.css")" />
<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/sh/scrollbarHack.css")" />
<style type="text/css">
    .how-i-do-it {
        position: relative;
        padding-top: 40px;
    }

        .how-i-do-it:after {
            content: "How I do it:";
            position: absolute;
            top: 15px;
            color: #888;
        }

    .todo {
        color: #f00;
    }
</style>
<div class="row">
    <div class="col-md-3">
        <nav class="pagenav visible-md visible-lg" id="pagenav">
            <ul class="nav">
                <li>nav</li>
            </ul>
        </nav>
    </div>
    <div class="col-md-9">

        <h2 id="cc-intro">Introduction</h2>

        <p>
            It can be very difficult to trust code written by others and especially myself.
            I write tests because I know I will make mistakes and I expect my colleagues to do the same.
            Tests and {insert-letter-here}DD approaches go a long way to ensure that code is correct
            but I don't think they are the one true path to salvation.
            I still find flaws in tested code when I accidentally trip over corner cases.
        </p>

        <pre class="brush: csharp">
string text = "hello";
int num = 20;
int selection = 11;
char someLetter = text[ RandomIndices(text.Length, num)[ selection ] ];
</pre>

        <p>
            Consider the above contrived example.
            I could make all kinds of tests pass for this code but I still have a bad feeling about it.
            Aside from it being terrible code there are so many opportunities for null and index related exceptions.
            I can't tell from looking at this code the relationships and restrictions for the parameters, variables and results.
            In these situations it can be hard to find all of the corner cases to test for and mistakes that have been overlooked.
        </p>

        <p>
            Code Contracts is Microsoft's implementation of <a href="https://en.wikipedia.org/wiki/Design_by_contract">Design by Contract</a>
            for VB and C#. Using the <a href="http://msdn.microsoft.com/en-us/library/system.diagnostics.contracts(v=vs.110).aspx">System.Diagnostics.Contracts Namespace</a>
            included with .NET 4.0 and the <a href="http://research.microsoft.com/en-us/projects/contracts/">Code Contracts</a> tools you can further
            define the behavior of your software and verify it at compile time as well as run time.
            With Code Contracts I can prove at <strong>compile time</strong> that the nasty example above does not throw
            or at least define the domain in which it won't.
        </p>

        <h2>Getting Started</h2>
        <h3>What You Need</h3>

        <ul>
            <li>Visual Studio Pro or more expensive</li>
            <li>.NET 4.0 or newer</li>
            <li><a href="http://research.microsoft.com/en-us/projects/contracts/">Code Contracts</a></li>
        </ul>

        <p>
            While the Code Contracts tools are free they may not be installed in Express Editions of Visual Studio.
            Also because the API for Code Contracts is within the .NET Framework 4.0,
            you must be able to reference at least .NET 4 .
            So far I have used the tools with Visual Studio 2010, 2012, and 2013 and can confirm that they work.
            With all that said you don't need to feel bound to a paid version of Visual Studio forever.
            If in the future you can't afford the next paid version of Visual Studio you will likely
            lose access to the Code Contracts tools but your code will still compile and run (so long as you don't use the generic forms of Contract.Requires).
        </p>

        <h3>Build Configurations</h3>

        <p>
            By default your projects will have a Debug and Release configuration.
            The debug build can be used for development and testing while the release build is what you would likely run in production or distribute to others.
            While you can use Code Contracts with these two configurations I find it inconvenient.
            When I work with a debug build I like to run the application and tests frequently and quickly but the Code Contracts tooling gets in the way of this.
            My solution is to have three configurations by adding a DebugCC configuration.
            Each of the three configurations has different settings with respect to Code Contracts.
        </p>
        <dl>
            <dt>Debug</dt>
            <dd>
                The primary configuration is the standard Debug configuration which has no additional build steps related to Code Contracts and is for standard development and testing.
            </dd>
            <dt>Release</dt>
            <dd>
                This is the standard Release configuration but with one minor addition in the case of a library.
                While Code Contracts tooling is not run on the resulting assembly a second contract assembly can be produced for distribution.
            </dd>
            <dt>DebugCC</dt>
            <dd>
                The DebugCC configuration is based on the Debug configuration but has Code Contracts tooling enabled.
                I periodically build and test with this configuration, often when I reach a stopping point.
            </dd>
        </dl>

        <div class="well how-i-do-it">
            Create the extra configuration for the <em>solution</em>:
            <ol>
                <li>
                    Within Visual Studio navigate to <span class="label label-primary">Build</span> &darr; <span class="label label-primary">Configuration Manager...</span>
                    (or <span class="label label-default">ALT</span>+<span class="label label-default">B</span>+<span class="label label-default">O</span>).
                </li>
                <li>Select the <span class="label label-primary">&lt;New...&gt;</span> item from the <b>Active solution configuration</b> drop down.</li>
                <li>Enter <b>DebugCC</b> in the <b>Name</b> field.</li>
                <li>Copy settings from <b>Debug</b>.</li>
                <li>Check the <b>Create new project configurations</b> check box if no projects have this configuration yet (none should).</li>
                <li>Click <span class="label label-default">OK</span>.</li>
            </ol>
            Create the extra configuration for <em>projects added later</em>:
            <ol>
                <li>
                    Within Visual Studio navigate to <span class="label label-primary">Build</span> &darr; <span class="label label-primary">Configuration Manager...</span>
                    (or <span class="label label-default">ALT</span>+<span class="label label-default">B</span>+<span class="label label-default">O</span>).
                </li>
                <li>Select the <span class="label label-primary">DebugCC</span> item from the <b>Active solution configuration</b> drop down.</li>
                <li>Click on the configuration for projects that do not have a <b>DebugCC</b> configuration associated and select <span class="label label-primary">&lt;New...&gt;</span>.</li>
                <li>Enter <b>DebugCC</b> in the <b>Name</b> field.</li>
                <li>Copy settings from <b>Debug</b>.</li>
                <li>Click <span class="label label-default">OK</span>.</li>
            </ol>
        </div>

        <p>
            You have to configure Code Contracts for each project that you want to use it for.
            I configure each of the three configurations differently.
        </p>

        <div class="well how-i-do-it">
            Access the Code Contracts project property sheet.
            <ol>
                <li>Install Code Contracts if you have not already.</li>
                <li>
                    Right click on a project and select <span class="label label-primary">Properties</span> from the context menu
                    (or <span class="label label-default">ALT</span>+<span class="label label-default">Enter</span>).
                </li>
                <li>Select the tab on the left for <b>Code Contracts</b>.</li>
            </ol>
        </div>

        <div class="row">
            <div class="col-md-4">
                <h4>DebugCC</h4>
                <a href="@Url.Content("~/things/garbage-file/cc-assets/prjcfg-debugcc.png")" target="_blank">
                    <img src="@Url.Content("~/things/garbage-file/cc-assets/prjcfg-debugcc.png")"
                         alt="DebugCC project configuration screen shot"
                         class="img-responsive" />
                </a>
                <p><small>DebugCC builds are where I use the Code Contracts tools.</small></p>
                <ol class="list-unstyled">
                    <li><small><b>Assembly Mode</b> should be left on Custom Parameter Validation.</small></li>
                    <li><small><b>Perform Runtime Contract Checking</b> is enabled and set to Full.</small></li>
                    <li><small><b>Perform Static Contract Checking</b> is enabled.</small></li>
                    <li><small><b>SQL Server</b> cache is configured to use my SQL Express instance on <code>.\SQLEXPRESS</code>.</small></li>
                    <li><small><b>Warning Level</b> can be turned up a notch or two if you want.</small></li>
                    <li><small><b>Contract Reference Assembly</b> is set to Build and also enable &quot;Emit contracts into XML doc file.&quot;</small></li>
                </ol>
            </div>
            <div class="col-md-4">
                <h4>Release</h4>
                <a href="@Url.Content("~/things/garbage-file/cc-assets/prjcfg-release.png")" target="_blank">
                    <img src="@Url.Content("~/things/garbage-file/cc-assets/prjcfg-release.png")"
                         alt="Release project configuration screen shot"
                         class="img-responsive" />
                </a>
                <small>
                    For release builds I only configure it to &quot;Build&quot; the Contract Reference Assembly and to &quot;Emit contracts into XML doc file.&quot;
                    This allows contracts to be distributed along side my released assemblies instead of modifying my resulting assemblies.
                </small>
            </div>
            <div class="col-md-4">
                <h4>Debug</h4>
                <a href="@Url.Content("~/things/garbage-file/cc-assets/prjcfg-debug.png")" target="_blank">
                    <img src="@Url.Content("~/things/garbage-file/cc-assets/prjcfg-debug.png")"
                         alt="Debug project configuration screen shot"
                         class="img-responsive" />
                </a>
                <small>
                    I leave the Debug configuration alone so that it has Code Contracts post-build actions disabled.
                    This also leaves my assemblies untouched to simplify debugging.
                </small>
            </div>
        </div>

        <h4>MSBuild XML Example</h4>

        <p>
            Expand the following example to see the XML that is added to an MSBuild file (<code>.csproj</code>) for code contracts.
        </p>

        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a data-toggle="collapse" href="#msbuild-xml-example-area">
                        Expand for example.
                    </a>
                </div>
                <div id="msbuild-xml-example-area" class="panel-collapse collapse">
                    <div class="panel-body">
                        <pre class="brush: xml">
&lt;PropertyGroup Condition=" '$(Configuration)|$(Platform)' == 'Release|AnyCPU' "&gt;
  &lt;DebugType&gt;pdbonly&lt;/DebugType&gt;
  &lt;Optimize&gt;true&lt;/Optimize&gt;
  &lt;OutputPath&gt;bin\Release\&lt;/OutputPath&gt;
  &lt;DefineConstants&gt;TRACE&lt;/DefineConstants&gt;
  &lt;ErrorReport&gt;prompt&lt;/ErrorReport&gt;
  &lt;WarningLevel&gt;4&lt;/WarningLevel&gt;
  &lt;CodeContractsEnableRuntimeChecking&gt;False&lt;/CodeContractsEnableRuntimeChecking&gt;
  &lt;CodeContractsRuntimeOnlyPublicSurface&gt;False&lt;/CodeContractsRuntimeOnlyPublicSurface&gt;
  &lt;CodeContractsRuntimeThrowOnFailure&gt;True&lt;/CodeContractsRuntimeThrowOnFailure&gt;
  &lt;CodeContractsRuntimeCallSiteRequires&gt;False&lt;/CodeContractsRuntimeCallSiteRequires&gt;
  &lt;CodeContractsRuntimeSkipQuantifiers&gt;False&lt;/CodeContractsRuntimeSkipQuantifiers&gt;
  &lt;CodeContractsRunCodeAnalysis&gt;False&lt;/CodeContractsRunCodeAnalysis&gt;
  &lt;CodeContractsNonNullObligations&gt;True&lt;/CodeContractsNonNullObligations&gt;
  &lt;CodeContractsBoundsObligations&gt;True&lt;/CodeContractsBoundsObligations&gt;
  &lt;CodeContractsArithmeticObligations&gt;True&lt;/CodeContractsArithmeticObligations&gt;
  &lt;CodeContractsEnumObligations&gt;True&lt;/CodeContractsEnumObligations&gt;
  &lt;CodeContractsRedundantAssumptions&gt;True&lt;/CodeContractsRedundantAssumptions&gt;
  &lt;CodeContractsMissingPublicRequiresAsWarnings&gt;True&lt;/CodeContractsMissingPublicRequiresAsWarnings&gt;
  &lt;CodeContractsInferRequires&gt;True&lt;/CodeContractsInferRequires&gt;
  &lt;CodeContractsInferEnsures&gt;False&lt;/CodeContractsInferEnsures&gt;
  &lt;CodeContractsInferObjectInvariants&gt;False&lt;/CodeContractsInferObjectInvariants&gt;
  &lt;CodeContractsSuggestAssumptions&gt;False&lt;/CodeContractsSuggestAssumptions&gt;
  &lt;CodeContractsSuggestRequires&gt;False&lt;/CodeContractsSuggestRequires&gt;
  &lt;CodeContractsSuggestObjectInvariants&gt;False&lt;/CodeContractsSuggestObjectInvariants&gt;
  &lt;CodeContractsSuggestReadonly&gt;True&lt;/CodeContractsSuggestReadonly&gt;
  &lt;CodeContractsRunInBackground&gt;True&lt;/CodeContractsRunInBackground&gt;
  &lt;CodeContractsShowSquigglies&gt;True&lt;/CodeContractsShowSquigglies&gt;
  &lt;CodeContractsUseBaseLine&gt;False&lt;/CodeContractsUseBaseLine&gt;
  &lt;CodeContractsEmitXMLDocs&gt;True&lt;/CodeContractsEmitXMLDocs&gt;
  &lt;CodeContractsCustomRewriterAssembly /&gt;
  &lt;CodeContractsCustomRewriterClass /&gt;
  &lt;CodeContractsLibPaths /&gt;
  &lt;CodeContractsExtraRewriteOptions /&gt;
  &lt;CodeContractsExtraAnalysisOptions /&gt;
  &lt;CodeContractsSQLServerOption /&gt;
  &lt;CodeContractsBaseLineFile /&gt;
  &lt;CodeContractsCacheAnalysisResults&gt;True&lt;/CodeContractsCacheAnalysisResults&gt;
  &lt;CodeContractsFailBuildOnWarnings&gt;False&lt;/CodeContractsFailBuildOnWarnings&gt;
  &lt;CodeContractsBeingOptimisticOnExternal&gt;True&lt;/CodeContractsBeingOptimisticOnExternal&gt;
  &lt;CodeContractsRuntimeCheckingLevel&gt;Full&lt;/CodeContractsRuntimeCheckingLevel&gt;
  &lt;CodeContractsReferenceAssembly&gt;Build&lt;/CodeContractsReferenceAssembly&gt;
  &lt;CodeContractsAnalysisWarningLevel&gt;0&lt;/CodeContractsAnalysisWarningLevel&gt;
&lt;/PropertyGroup&gt;
&lt;PropertyGroup Condition="'$(Configuration)|$(Platform)' == 'DebugCC|AnyCPU'"&gt;
  &lt;DebugSymbols&gt;true&lt;/DebugSymbols&gt;
  &lt;OutputPath&gt;bin\DebugCC\&lt;/OutputPath&gt;
  &lt;DefineConstants&gt;DEBUG;TRACE&lt;/DefineConstants&gt;
  &lt;DebugType&gt;full&lt;/DebugType&gt;
  &lt;PlatformTarget&gt;AnyCPU&lt;/PlatformTarget&gt;
  &lt;ErrorReport&gt;prompt&lt;/ErrorReport&gt;
  &lt;CodeAnalysisRuleSet&gt;MinimumRecommendedRules.ruleset&lt;/CodeAnalysisRuleSet&gt;
  &lt;CodeContractsEnableRuntimeChecking&gt;True&lt;/CodeContractsEnableRuntimeChecking&gt;
  &lt;CodeContractsRuntimeOnlyPublicSurface&gt;False&lt;/CodeContractsRuntimeOnlyPublicSurface&gt;
  &lt;CodeContractsRuntimeThrowOnFailure&gt;True&lt;/CodeContractsRuntimeThrowOnFailure&gt;
  &lt;CodeContractsRuntimeCallSiteRequires&gt;False&lt;/CodeContractsRuntimeCallSiteRequires&gt;
  &lt;CodeContractsRuntimeSkipQuantifiers&gt;False&lt;/CodeContractsRuntimeSkipQuantifiers&gt;
  &lt;CodeContractsRunCodeAnalysis&gt;True&lt;/CodeContractsRunCodeAnalysis&gt;
  &lt;CodeContractsNonNullObligations&gt;True&lt;/CodeContractsNonNullObligations&gt;
  &lt;CodeContractsBoundsObligations&gt;True&lt;/CodeContractsBoundsObligations&gt;
  &lt;CodeContractsArithmeticObligations&gt;True&lt;/CodeContractsArithmeticObligations&gt;
  &lt;CodeContractsEnumObligations&gt;True&lt;/CodeContractsEnumObligations&gt;
  &lt;CodeContractsRedundantAssumptions&gt;True&lt;/CodeContractsRedundantAssumptions&gt;
  &lt;CodeContractsMissingPublicRequiresAsWarnings&gt;True&lt;/CodeContractsMissingPublicRequiresAsWarnings&gt;
  &lt;CodeContractsInferRequires&gt;True&lt;/CodeContractsInferRequires&gt;
  &lt;CodeContractsInferEnsures&gt;False&lt;/CodeContractsInferEnsures&gt;
  &lt;CodeContractsInferObjectInvariants&gt;False&lt;/CodeContractsInferObjectInvariants&gt;
  &lt;CodeContractsSuggestAssumptions&gt;False&lt;/CodeContractsSuggestAssumptions&gt;
  &lt;CodeContractsSuggestRequires&gt;False&lt;/CodeContractsSuggestRequires&gt;
  &lt;CodeContractsSuggestObjectInvariants&gt;False&lt;/CodeContractsSuggestObjectInvariants&gt;
  &lt;CodeContractsSuggestReadonly&gt;True&lt;/CodeContractsSuggestReadonly&gt;
  &lt;CodeContractsRunInBackground&gt;True&lt;/CodeContractsRunInBackground&gt;
  &lt;CodeContractsShowSquigglies&gt;True&lt;/CodeContractsShowSquigglies&gt;
  &lt;CodeContractsUseBaseLine&gt;False&lt;/CodeContractsUseBaseLine&gt;
  &lt;CodeContractsEmitXMLDocs&gt;True&lt;/CodeContractsEmitXMLDocs&gt;
  &lt;CodeContractsCustomRewriterAssembly /&gt;
  &lt;CodeContractsCustomRewriterClass /&gt;
  &lt;CodeContractsLibPaths /&gt;
  &lt;CodeContractsExtraRewriteOptions /&gt;
  &lt;CodeContractsExtraAnalysisOptions /&gt;
  &lt;CodeContractsSQLServerOption&gt;.\SQLEXPRESS&lt;/CodeContractsSQLServerOption&gt;
  &lt;CodeContractsBaseLineFile /&gt;
  &lt;CodeContractsCacheAnalysisResults&gt;True&lt;/CodeContractsCacheAnalysisResults&gt;
  &lt;CodeContractsFailBuildOnWarnings&gt;False&lt;/CodeContractsFailBuildOnWarnings&gt;
  &lt;CodeContractsBeingOptimisticOnExternal&gt;True&lt;/CodeContractsBeingOptimisticOnExternal&gt;
  &lt;CodeContractsRuntimeCheckingLevel&gt;Full&lt;/CodeContractsRuntimeCheckingLevel&gt;
  &lt;CodeContractsReferenceAssembly&gt;Build&lt;/CodeContractsReferenceAssembly&gt;
  &lt;CodeContractsAnalysisWarningLevel&gt;1&lt;/CodeContractsAnalysisWarningLevel&gt;
&lt;/PropertyGroup&gt;
</pre>
                    </div>
                </div>
            </div>
        </div>

        <h2>Writing Contracts</h2>

        <h3>Method Anatomy with Code Contracts</h3>

        <pre class="brush: csharp">
public StringBuilder FluentDouble(this StringBuilder sb) {
  // all preconditions are listed before postconditions
  // standard/legacy preconditions are first
  if (sb == null)
    throw new ArgumentNullException("sb");
  // Contract.Requires calls come after standard preconditions
  Contract.Requires(sb.Length > 0);
  // if there are any preconditions the post conditions come after
  // normal postconditions go first
  Contract.Ensures(
    Contract.Result&lt;StringBuilder&gt;().Length
    == Contract.OldValue(sb.Length) * 2);
  // exceptional postconditions are written after normal ones
  Contract.EnsuresOnThrow&lt;InvalidOperationException&gt;(
    sb.Length == Contract.OldValue(sb.Length));
  // the actual method code is last
  return sb.Append(sb.ToString());
}
</pre>

        <p>
            All contracts are written into the top part of a method body.
            It is a bit odd to specify contracts within the method and to specify postconditions at the top of a method but that is how it is done.
            When writing contracts, the four types (described later) must be grouped together and the groups must be in a specific order as shown in the example and diagram.
            None of these groups are required but a call to <a href="http://msdn.microsoft.com/en-us/library/system.diagnostics.contracts.contract.endcontractblock(v=vs.110).aspx">Contract.EndContractBlock()</a>
            must be made last in the contract block if it contains only standard/legacy preconditions.
        </p>

        <img src="@Url.Content("~/things/garbage-file/cc-assets/cc-method-anatomy.png")"
             alt="Code Contracts method diagram. Contracts should be in the following order: Standard Preconditions, Contract.Requires, Contract.Ensures and finally Contract.EnsuresOnThrow"
             class="img-responsive" />

        <h3>Preconditions</h3>
        <p>
            Preconditions define what is required for a method to be executed.
            They can validate parameters, object state, or even evaluate complex expressions (do keep it simple though).
            As preconditions are to be checked before a method performs its real work it's pretty conventient that they are placed at the top of the method body,
            right where you probably have been writing them all along.
        </p>
        <dl>
            <dt>&quot;legacy&quot; requires (standard preconditions)</dt>
            <dd>
                <p>
                    The &quot;legacy&quot; requires are my main choice when writing precondtions and you probably already have plenty in your existing source.
                    These preconditions are written using a basic <code class="brush: csharp;">if( ! precondition) throw new SpecificException();</code> statement
                    and must be the first preconditions in the contract block.
                    I suppose the name would make sense if code contracts were built into the language but they are not so I don't feel the name is appropriate.
                    I will refer to them as <em>standard preconditions</em> from now on, <code>if</code> and <code>throw</code> are not deprecated yet.
                    Note that when using standard preconditions without any other calls to Contract.Requires or Contract.Ensures a call to
                    <a href="http://msdn.microsoft.com/en-us/library/system.diagnostics.contracts.contract.endcontractblock(v=vs.110).aspx">Contract.EndContractBlock</a>
                    is required to complete the contract block. A call to some method on the Contract type is required to create a contract block.
                </p>
            </dd>
            <dt>Contract.Requires</dt>
            <dd>
                <p>
                    The <a href="http://msdn.microsoft.com/en-us/library/system.diagnostics.contracts.contract.requires(v=vs.110).aspx">Contract.Requires</a> methods
                    are another way to specify preconditions. They act similar to an assertion in that they throw when the condition is not met and are ommited from my release bulds
                    but they are specialized in that they apply to the state of the method before it is executed.
                    While ommiting preconditions from a release build seems pointless it does have its uses.
                    This approach supplies the Code Contracts static analysis tool with information, offering safety without sacrificing performance.
                </p>
                <p>
                    Also note that while Contract.Requires does have a generic option available I do <em><strong>not</strong></em> use it.
                    The generic versions <em>must</em> be run through a post build step while standard preconditions and non-generic Contract.Requires will be fine right out of the compiler.
                    Using the generic versions of Contract.Requires without rewriting your IL from CCRewrite will cause problems like in this
                    <a href="http://stackoverflow.com/questions/19365702/why-has-my-webapi-rest-method-broken-over-the-weekend">example</a>.
                </p>
            </dd>
        </dl>

        <h4>When to Choose Standard Preconditions</h4>
        <p>
            When a method is publicly accessible (public or protected) from outside an assembly I use the standard method of specifying preconditions as shown in the following example.
        </p>
        <pre class="brush: csharp;">public static string WordTitleCase(string input) {
    if (String.IsNullOrEmpty(input))
        throw new ArgumentException("Must not be null or empty.", "input");
    Contract.EndContractBlock();
    var builder = new System.Text.StringBuilder(input.Length);
    builder.Append(Char.ToUpper(input[0]));
    for (int i = 1; i < input.Length; i++)
        builder.Append(Char.ToLower(input[i]));
    return builder.ToString();
}</pre>
        <p>
            Using the standard form ensures that my checks are present in every build even if Code Contracts tools are not used.
        </p>

        <h4>When to Choose Contract.Requires</h4>
        <p>
            When a method is not publicly accessible (private or internal) I tend to use the Contract.Requires form as in the following example.
        </p>
        <pre class="brush: csharp">internal static T QuickFirstOrDefault&lt;T&gt;(this T[] array) {
    Contract.Requires(array != null);
    return array.Length == 0 ? default(T) : array[0];
}</pre>
        <p>
            I also use Contract.Requires when a precondition is redundant which can be common in situations involving inheritance.
            This provides the Code Contracts tools with important information and prevents needless checks at runtime.
        </p>
        <div class="row">
            <div class="col-md-6">
                Redundant preconditions:
                <pre class="brush: csharp">public class Derrived : Base {
  public Derrived(string value)
    : base(value) {
    // enforced in the Base constructor
    Contract.Requires(value != null);
  }
}</pre>
            </div>
            <div class="col-md-6">
                Original preconditions:
                <pre class="brush: csharp">public class Base {
  public string Value { get; set; }
  public Base(string value) {
    if (value == null)
      throw new ArgumentNullException();
    Contract.EndContractBlock();
    Value = value;
  }
}</pre>
            </div>
        </div>

        <p>
            Using Contract.Requires in these situations with my build configuration allows
            these redundant checks to be omitted in Release builds due to them having a conditional compilation attribute.
            When combined with comprehensive tests and the Code Contracts static analysis tool
            this technique can increase safety with little or no performance penalty.
        </p>
        <h3>Postconditions</h3>

        <p>
            Postconditions allow us to specify conditions that should hold when exiting a method.
            Because there are different ways to exit a method there are also different ways to specify postconditions.
        </p>

        <h4>Contract.Ensures</h4>
        <p>
            The <a href="http://msdn.microsoft.com/en-us/library/system.diagnostics.contracts.contract.ensures(v=vs.110).aspx">Contract.Ensures</a> methods
            allow the specification of postconditions that hold when a method returns a value or when a void method executes its last statement.
            I most often use these to describe the value that is returned (using <a href="http://msdn.microsoft.com/en-us/library/dd412873(v=vs.110).aspx">Contract.Result</a>)
            but they can also describe object state.
        </p>

        <pre class="brush: csharp">public static IntRange Enclose(IntRange a, IntRange b) {
    if (a == null) throw new ArgumentNullException("a");
    if (b == null) throw new ArgumentNullException("b");
    Contract.Ensures(Contract.Result&lt;IntRange&gt;().Low &lt;= a.Low);
    Contract.Ensures(Contract.Result&lt;IntRange&gt;().Low &lt;= b.Low);
    Contract.Ensures(Contract.Result&lt;IntRange&gt;().High &gt;= a.High);
    Contract.Ensures(Contract.Result&lt;IntRange&gt;().High &gt;= b.High);
    return new IntRange(Math.Min(a.Low, b.Low), Math.Max(a.High, b.High));
}</pre>
        <h4>Contract.EnsuresOnThrow</h4>
        <p>
            Postconditions can also be made for exceptional method termination using the
            <a href="http://msdn.microsoft.com/en-us/library/system.diagnostics.contracts.contract.ensuresonthrow(v=vs.110).aspx">Contract.EnsuresOnThrow</a> methods.
            These generic methods are similar to Contract.Ensures but also require a generic argument that specifies the exception type they apply to.
            These postconditions can be important when writing exception safe code.
            Note that while these methods are generic they are safe to use without a CCRewrite post compilation.
        </p>

        <pre class="brush: csharp">public class Matrix2 {
    public double E00;
    public double E01;
    public double E10;
    public double E11;
    public void Invert() {
        Contract.EnsuresOnThrow&lt;NoInverseException&gt;(
            Contract.OldValue(E00).Equals(E00)
            && Contract.OldValue(E01).Equals(E01)
            && Contract.OldValue(E10).Equals(E10)
            && Contract.OldValue(E11).Equals(E11),
            "don't mutate when no inverse");
        var determinant = (E00 * E11) - (E10 * E01);
        if (0 == determinant || Double.IsNaN(determinant) || Double.IsInfinity(determinant))
            throw new NoInverseException();
        var temp = E00;
        E00 = E11 / determinant;
        E11 = temp / determinant;
        temp = -determinant;
        E01 = E01 / temp;
        E10 = E10 / temp;
    }
}</pre>

        <h4>Previous Values</h4>
        <p>
            Postconditions normally refer to the state when exiting a method (even though they are written towards the top)
            but it is possible to create postconditions that can refer to state when a method was initially called.
            The <a href="http://msdn.microsoft.com/en-us/library/dd412857(v=vs.110).aspx">Contract.OldValue</a> method instructs the rewrite tool
            to remember the state of a variable when method execution begins so it can be used later in a postcondition.
            This makes it possible to create contrcts describing changes and constants, like the side effect of adding an item to a collection
            <code>Contract.Ensures(Count > Contract.OldValue(Count));</code> or data integrity as in the above <code>Invert</code> example.
        </p>

        <h3>Invariants</h3>
        <p>
            Using <a href="http://msdn.microsoft.com/en-us/library/system.diagnostics.contracts.contract.invariant(v=vs.110).aspx">Contract.Invariant</a>
            allows for the specification of contracts that must always be true for an object instance.
            These invariants are specified only in one instance method of a class
            with the <a href="http://msdn.microsoft.com/en-us/library/system.diagnostics.contracts.contractinvariantmethodattribute(v=vs.110).aspx">ContractInvariantMethod</a> attribute.
            The name of the method is not important but <code>ObjectInvariants</code> works well enough.
            Acting as something like both a Contract.Require and Contract.Ensures for each method an invariant helps to reduce the number of contracts that must be written.
            In addition to saving some time with writing contracts an invariant also offers guarantees regarding the state of an object which can even reduce code.
        </p>

        <pre class="brush: csharp">
public class Range {
    public Range(double min, double max) {
        if (!(min &lt;= max)) throw new ArgumentException();
        Contract.EndContractBlock();
        Min = min;
        Max = max;
    }
    public double Min { get; private set; }
    public double Max { get; private set; }
    [ContractInvariantMethod]
    private void ObjectInvariants() {
        Contract.Invariant(Min &lt;= Max);
    }
    public double GetMagnitude(){
        Contract.Ensures(Contract.Result&lt;double&gt;() &gt;= 0);
        return Max - Min;
    }
}
</pre>

        <h2>Purity</h2>
        <p>
            All methods (properties too) that are used to write contract expressions must be pure.
            When it comes to the meaning of purity I like to go by the <a href="http://en.wikipedia.org/wiki/Pure_function">pure function entry on Wikipedia</a>.
            The truth though is that any method is pure if you mark it with the <a href="http://msdn.microsoft.com/en-us/library/system.diagnostics.contracts.pureattribute(v=vs.110).aspx">Pure</a>
            attribute as there is no enforcement (yet) but you should not go slapping Pure on everything.
            Keep it to methods that always return the same value for their given inputs and don't have any <a href="https://en.wikipedia.org/wiki/Side_effect_(computer_science)">side effects</a>.
        </p>
        <div class="row">
            <div class="col-md-6">
                <h4>Method Example</h4>
                <pre class="brush: csharp">
[Pure]
public double GetDistance(Point p){
    var dx = p.X - this.X;
    var dy = p.Y - this.Y;
    return Math.Sqrt((dx*dx)+(dy*dy));
}
// ...
private void DoSomething(Point a, Point b){
    Contract.Requires(
        a.GetDistance(b) > 1.0,
        "Must be far apart.");
    // ...
}
</pre>
            </div>
            <div class="col-md-6">
                <h4>Property Examples</h4>
                <pre class="brush: csharp">
public string Name { [Pure] get; set; }
public double Length {
    [Pure] get {
        return High - Low;
    }
}
// ...
private void DoSomething(){
    Contract.Requires(this.Length > 2);
    Contract.Requires(this.Name != "Nope!");
    // ...
}
</pre>
            </div>
        </div>

        <h2>Static Analysis</h2>
        <p>
            The static analysis tool is where I see the largest benefit from Code Contracts.
            It is capable of analyzing the contracts as well as the code to determine if contracts are violated or if new contracts may be needed.
            As a result I can see errors and corner cases in my code that I may not have considered or had missed in my tests.
        </p>

        <div class="todo">elaborate</div>

        <h4>Basic Example</h4>

        <p>
            In the following example Code Contracts knows that I am in danger of throwing an <code>IndexOutOfRangeException</code>
            because of the access to <code>builder[a]</code> and <code>builder[b]</code>.
            There are no bounds placed on <code>a</code> or <code>b</code> so they could be anything which causes the tool to issue a warning.
            I am also given suggestions of other contracts that could be added to improve the safety of this code and
            also get pruple underlines within Visual Studio for <code>builder[a]</code> and <code>builder[b]</code>.
        </p>

        <pre class="brush: csharp">
static void Main(string[] args) {
  Console.WriteLine(SwapLetters("ttxe", 1, 4));
}
// message : CodeContracts: Suggested requires: Contract.Requires(text != null);
// message : CodeContracts: Suggested requires: Contract.Requires(0 &lt;= a);
// message : CodeContracts: Suggested requires: Contract.Requires(0 &lt;= b);
static string SwapLetters(string text, int a, int b) {
  var builder = new StringBuilder(text, text.Length);
  var c = builder[a]; // warning : CodeContracts: requires unproven: index &lt; this.Length
  builder[a] = builder[b]; // warning : CodeContracts: requires unproven: index &lt; this.Length
  builder[b] = c;
  return builder.ToString();
}
</pre>

        <p>
            After adding contracts to the method the tool is able to find flaws in my program as shown below.
            The value passed to the <code>b</code> parameter of the <code>SwapLetters</code> method is not less than the length of the <code>text</code> parameter.
            Within Visual Studio I can see a purple underline on the statement (<code>Console.WriteLine(SwapLetters("ttxe", 1, 4));</code>) that will cause the error,
            there are entries in the Error List window and some items in the Build Output window.
            The error can be fixed by changing the <code>b</code> parameter value of <code>4</code> to <code>3</code>.
        </p>

        <pre class="brush: csharp">
// warning : CodeContracts: Invoking method 'Main' will always lead to an error.
// If this is wanted, consider adding Contract.Requires(false) to document it
static void Main(string[] args) {
  // warning : CodeContracts: requires is false: b &gt;= 0 && b &lt; text.Length
  Console.WriteLine(SwapLetters("ttxe", 1, 4));
}
static string SwapLetters(string text, int a, int b) {
  Contract.Requires(text != null);
  Contract.Requires(a &gt;= 0 && a &lt; text.Length);
  Contract.Requires(b &gt;= 0 && b &lt; text.Length);
  var builder = new StringBuilder(text, text.Length);
  var c = builder[a];
  builder[a] = builder[b];
  builder[b] = c;
  return builder.ToString();
}
</pre>

        <h4>Ensures Contract Violation Example</h4>
        <p>
            In the following example the ensures contract is not proven to be correct.
            The tool shows that the <code>return null;</code> will violate the postcondition.
            We are also given a suggestion to require that <code>items.Length != 0</code>
            but we could also remove or change the ensures to fix the problem.
        </p>
        <p>
            Note that this example is simple enough that the error is detected at compile time but it
            would certainly cause a contract violation at run-time when provided an empty input.
        </p>

        <pre class="brush: csharp">
static string FindLongest(string[] items) {
  Contract.Requires(items != null);
  // message : CodeContracts: Suggested requires: Contract.Requires(items.Length != 0);
  Contract.Requires(Contract.ForAll(items, i =&gt; i != null));
  Contract.Ensures(Contract.Result&lt;string&gt;() != null);
  if (items.Length == 0)
    return null; // warning : CodeContracts: ensures is false: Contract.Result&lt;string&gt;() != null
  var largest = items[0];
  for (int i = 1; i &lt; items.Length; i++)
    if (items[i].Length &gt; largest.Length)
      largest = items[i];
  return largest;
}
</pre>

        <h2>Assume and Assert</h2>
        <p>
            Sometimes the static analysis tool can't figure something out or just doesn't have enough information.
            By using <a href="http://msdn.microsoft.com/en-us/library/system.diagnostics.contracts.contract.assert(v=vs.110).aspx">Contract.Assert</a>
            and <a href="http://msdn.microsoft.com/en-us/library/system.diagnostics.contracts.contract.assume(v=vs.110).aspx">Contract.Assume</a>
            conditions can be declared to be true at specific points within a method body.
            This can be handy when Code Contracts can't follow your logic or when an API you use does not have contracts.
            Assume and Assert seem to have more similarities than differences as
            they both cause your program to come crashing down if an expression evaluates to false at run-time
            and they also both are not emitted in release builds.
            The important difference however is that Contract.Assume will provide information to the static analysis tool
            while Contract.Assert will cause Code Contracts to check the asserted condition.
        </p>
        <p>
            When I need to verify program state or my assumptions within a method body I tend to favor the good old fashioned <code>if</code> statement over Assume or Assert.
            If I am really worried about a condition not holding I want to also verify that it is checked <strong>and handled</strong> in my release builds and through tests.
            I can't think of a better way than to just make that check a part of my program.
            Often I can even use the preconditions of other methods to enforce those checks and to better utilize the static analysis tool.
            Sometimes though I do need to give the tools a bit of help and Contract.<strong>Assume</strong> works great for that.
            Because of the differences between them and because of my aversion to Contract.Assert (I prefer <code>if</code>) I see no reason to ever use Contract.Assert in my code.
            Find what works for you but this approach has worked well for me.
            Either way you go though be sure that any calls to Assume or Assert have high test coverage.
        </p>

        <h3>Assume Example</h3>
        <p>
            In this example the static analysis tool is not able to predict the size of the string.
        </p>
        <pre class="brush: csharp">
static string Multiply(string s, int n) {
    Contract.Requires(n &gt;= 0);
    Contract.Requires(s != null);
    Contract.Ensures(Contract.Result&lt;string&gt;() != null);
    Contract.Ensures(Contract.Result&lt;string&gt;().Length == s.Length * n);
    var builder = new StringBuilder(s.Length * n);
    for (int i = 0; i &lt; n; i++)
        builder.Append(s);
    // CodeContracts: ensures unproven: Contract.Result&lt;string&gt;().Length == s.Length * n
    return builder.ToString();
}
</pre>
        <p>
            By using Contract.Assume we can tell the tool what we are certain is true.
        </p>
        <pre class="brush: csharp">
static string Multiply(string s, int n) {
    Contract.Requires(n &gt;= 0);
    Contract.Requires(s != null);
    Contract.Ensures(Contract.Result&lt;string&gt;() != null);
    Contract.Ensures(Contract.Result&lt;string&gt;().Length == s.Length * n);
    var builder = new StringBuilder(s.Length * n);
    for (int i = 0; i &lt; n; i++)
        builder.Append(s);
    Contract.Assume(builder.ToString().Length == s.Length * n); // fix
    return builder.ToString();
}
</pre>
        <h2>Conditional Contracts</h2>
        <p>
            Most contracts are written as facts that must always hold as preconditions, postconditions, or invariants but sometimes flexibility is needed.
            Sometimes you need the flexibility to say that a contract is only expected to hold in specific situations.
            Sadly there is no direct way to do this with Code Contracts but there are ways around it.
        </p>
        <pre class="brush: csharp">
public static Response Request(string search) {
    if (!String.IsNullOrWhiteSpace(search)) {
        Func&lt;string, bool&gt; test =
            new Regex(search, RegexOptions.IgnoreCase).IsMatch;
        var foodsFound = FoodList.Where(test).ToArray();
        if (foodsFound.Length != 0)
            return new Response {Foods = foodsFound, Success = true};
    }
    return new Response { Success = false };
}
static void Main(string[] args) {
    var response = Request("e");
    if (response.Success) {
        Console.WriteLine(String.Join(
            Environment.NewLine,
            response.Foods // warning : CodeContracts: requires unproven: value != null
        ));
    }
    Console.ReadKey();
}
</pre>
        <p>
            In the above example the request method creates a response with an array of foods only when results are found
            and also marks the success flag as true in that situation.
            In the Main method we make use of the foods array when the success flag is true
            but the static analysis tools don't have any way to know that the foods array is not null.
            To satisfy the precondition on String.Join we need a way to ensure that the result of Request gives us a non-null
            food list when success is true.
            Because there is no conditional mechanism built into Code Contracts some simple tricks are needed
            as shown below.
        </p>

        <div>Note: The names for these techniques are totally made up.</div>

        <h3>Ternary Contracts</h3>
        <p>
            The simplest way to write a conditional contract is with a <a href="http://msdn.microsoft.com/en-us/library/ty67wk28.aspx">ternary operator</a>.
            The basic form is <code>condition ? contract : true</code>.
            If a condition is satisfied then the contract must hold, otherwise nobody cares.
        </p>

        <pre class="brush: csharp">
Contract.Ensures(
    Contract.Result&lt;Response&gt;().Success
    ? Contract.Result&lt;Response&gt;().Foods != null
    : true
);
</pre>

        <table class="table">
            <thead>
                <tr>
                    <th>if</th>
                    <td>?</td>
                    <th>then</th>
                    <td>:</td>
                    <th>else</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>contract condition</td><td>?</td><td>contract</td><td>:</td><td>bypass</td></tr>
                <tr><td><code>Contract.Result&lt;Response&gt;().Success</code></td><td>?</td><td><code>Contract.Result&lt;Response&gt;().Foods != null</code></td><td>:</td><td><code>true</code></td></tr>
            </tbody>
        </table>

        <h3>State an Impossibility</h3>
        <p>
            While the above format works it is a little long and some people are deeply offended by ternary expressions.
            Also having a <code>true</code> or <code>false</code> keyword in a conditional has a bit of a smell to it.
            Another way to write a conditional contract is to invert it a bit and instead state something that can never happen.
            This form looks like: <code>!( condition &amp;&amp; !(contract) )</code> .
            Instead of stating that under a condition a contract must hold
            this style states that it is impossible for that contract to be false when the condition is satisfied.
            It is not possible for foods to be null when success is true.
        </p>
        <pre class="brush: csharp">
Contract.Ensures(
    !(
        Contract.Result&lt;Response&gt;().Success
        && Contract.Result&lt;Response&gt;().Foods == null
    )
);
</pre>

        <h3>This or That</h3>
        <p>
            The above is a bit better but the double negatives and nesting can get confusing.
            An even simpler form looks like this: <code>!(condition) || contract</code>.
            The condition is not satisfied or the contract must be true.
        </p>
        <pre class="brush: csharp">
Contract.Ensures(
    !Contract.Result&lt;Response&gt;().Success
    || Contract.Result&lt;Response&gt;().Foods != null
);
</pre>

        <h2>Inheritance</h2>
        <p>
            As you use Code Contracts you may find a need to apply contracts to situations involving inheritance, interfaces and abstract classes.
            The framework and tools provide ways of accomplishing this but I have read some pretty negative opinions about it.
            While I don't disagree with some of those observations I still think the inheritance features are worth using.
        </p>

        <h3>Basic Rules for Inheritance</h3>
        <p>
            The rules for how preconditions and postconditions are inherited are different.
            Preconditions may take you by surprise in that they can only appear in base or root implementations of methods.
            Methods that inherit from that base may not add new preconditions and can not remove preconditions.
            There are logical reasons for why preconditions may not be added and there are technical reasons for why they can not be removed.
            The documentation states pretty clearly that preconditions can not be removed because they said so and did not implement that.
            To understand why they may not be added lets go over an example.
        </p>
        <p>
            If you were to say mammals can eat anything that is delicious you are setting yourself up for a problem.
            When you implement <code>public class Dog : Mammal</code> you should be placing a restriction against eating chocolate (<code>Contract.Requires(food != "chocolate");</code>).
            While that makes sense from the perspective of the Dog type it will cause problems when the Dog is treated as a mammal.
            When a user tries to feed chocolate to a list of mammals they may get a surprising exception if the list contains a dog,
            and nobody likes surprises. Read about the <a href="http://en.wikipedia.org/wiki/Liskov_substitution_principle">Liskov substitution principle</a> for a more formal description.
            I recommend you not put preconditions on a base method unless you really think it through.
        </p>
        <p>
            Postconditions mostly work how you may expect (when they do).
            You can define postconditions for the base method and inheriting implementations may add extra postconditions.
            So long as there are no conflicts in the logic it should work
            <strong>but</strong> as of May 2014 the additional postconditions only seem to have an effect within the derived class, not those using it.
            You could ensure that all instances of <code>class Mammal</code> poop and add that <code>class Whale : Mammal</code> has huge poops.
            When dealing with mammals you know there will be a mess to dispose of and when dealing with whales the mess will be large.
        </p>

        <h3>Contracts Without Bodies</h3>
        <p>
            While contracts must be declared within method bodies it is still possible to create contracts for abstract methods and interfaces.
            Using the <a href="http://msdn.microsoft.com/en-us/library/system.diagnostics.contracts.contractclassattribute(v=vs.110).aspx">ContractClass</a> attribute
            and the <a href="http://msdn.microsoft.com/en-us/library/system.diagnostics.contracts.contractclassforattribute(v=vs.110).aspx">ContractClassFor</a>
            it is possible to define another type that will host the contracts for you.
            To define contracts for an abstract method, abstract property, or an interface create a new abstract class that will hold the contracts.
            I like to use the <code>internal</code> access modifier and I name the type by adding the word "Contracts" to it.
            Apply the <code>ContractClassFor</code> attribute to the type that will host the contracts and apply the <code>ContractClass</code> attribute to the target type.
            Each attribute takes a parameter that references the other type.
            Don't worry about forgetting an attribute or referencing the wrong type though as any mistake will cause an error at compile time.
        </p>
        <pre class="brush: csharp">
[ContractClass(typeof(NoiseMakerContracts))]
public abstract class NoiseMaker {
    public string LoudNoise() {
        Contract.Ensures(Contract.Result&lt;string&gt;() != null);
        return Noise().ToUpper();
    }
    public abstract string Noise();
}
[ContractClassFor(typeof(NoiseMaker))]
internal abstract class NoiseMakerContracts : NoiseMaker {
    public override string Noise() {
        Contract.Ensures(Contract.Result&lt;string&gt;() != null);
        throw new NotImplementedException();
    }
}
public class Screech : NoiseMaker{
    public override string Noise() {
        return "screeeeeeeech";
    }
}
public class Nope : NoiseMaker {
    public override string Noise() {
        return null; // ensures is false: Contract.Result&lt;string&gt;() != null
    }
}
</pre>
        <p>
            It get a little trickier when the inheritance gets deeper though.
            An abstract contract type must still at least specify all the method signatures of any base types and interfaces it inherits from,
            even if you don't need to add contracts to them.
            This causes some problems though because you may not declare preconditions in methods derived from a base that already declares them.
            Thankfully the solution to this problem is pretty simple.
            For methods you don't want to apply contracts to, use <code>abstract override</code> when inheriting from an abstract base and <code>abstract</code> when implementing interfaces.
        </p>
        <pre class="brush: csharp">
[ContractClass(typeof(SomeInterfaceContracts))]
public interface ISomeInterface {
    string TopValue(int n);
}
[ContractClassFor(typeof(ISomeInterface))]
internal abstract class SomeInterfaceContracts : ISomeInterface {
    public string TopValue(int n) {
        Contract.Requires(n &gt;= 0);
        Contract.Ensures(Contract.Result&lt;string&gt;() != null);
        throw new NotImplementedException();
    }
}
[ContractClass(typeof(ExtraStuffContracts))]
public interface IExtraStuff : ISomeInterface {
    int GetNumber();
}
[ContractClassFor(typeof(IExtraStuff))]
internal abstract class ExtraStuffContracts : IExtraStuff {
    public int GetNumber() {
        Contract.Ensures(Contract.Result&lt;int&gt;() &gt;= 0);
        throw new NotImplementedException();
    }
    public abstract string TopValue(int n);
}
      
[ContractClass(typeof(SomeBaseContracts))]
public abstract class SomeBase {
    public abstract string ImportantStuff(string input);
    public abstract string NobodyCares();
}
[ContractClassFor(typeof(SomeBase))]
internal abstract class SomeBaseContracts : SomeBase {
    public override string ImportantStuff(string input) {
        Contract.Requires(input != null);
        Contract.Ensures(Contract.Result&lt;string&gt;() != null);
        throw new NotImplementedException();
    }
    public abstract override string NobodyCares();
}
</pre>


        <h2>Distribution</h2>
        <p>
            When an assembly has contracts and is built with the Contract Reference Assembly option set to Build a second assembly is produced as a part of the build.
            This extra assembly is written to <code>./CodeContracts/{assembly name}.Contracts.dll</code> within the output directory
            and contains Code Contract information, even in builds with Runtime Checking disabled.
            This feature allows the contract information to be used by other projects,
            even when the referenced assemblies have not been rewritten with the Code Contracts tool.
        </p>

        <div class="well">

            <p>Using my configurations your output directories will look similar to the following:</p>

            <div class="media">
                <span class="glyphicon glyphicon-folder-open pull-left"></span>
                <div class="media-body">
                    <div>Debug</div>
                    <div><span class="glyphicon glyphicon glyphicon-file"></span> MyAssembly.dll</div>
                </div>

                <span class="glyphicon glyphicon-folder-open pull-left"></span>
                <div class="media-body">
                    <div>DebugCC</div>
                    <div class="media" style="margin-top: 0">
                        <span class="glyphicon glyphicon-folder-open pull-left"></span>
                        <div class="media-body">
                            <div>CodeContracts</div>
                            <div><span class="glyphicon glyphicon glyphicon-file pull-left"></span> MyAssembly.Contracts.dll</div>
                        </div>
                    </div>
                    <span class="glyphicon glyphicon glyphicon-file pull-left"></span> MyAssembly.dll
                </div>

                <span class="glyphicon glyphicon-folder-open pull-left"></span>
                <div class="media-body">
                    <div>Release</div>
                    <div class="media" style="margin-top: 0">
                        <span class="glyphicon glyphicon-folder-open pull-left"></span>
                        <div class="media-body">
                            <div>CodeContracts</div>
                            <div><span class="glyphicon glyphicon glyphicon-file pull-left"></span> MyAssembly.Contracts.dll</div>
                        </div>
                    </div>
                    <span class="glyphicon glyphicon glyphicon-file pull-left"></span> MyAssembly.dll
                </div>

            </div>

        </div>

        <p>
            When an assembly is referenced by a project using Code Contracts the tools are able to locate the contract assemblies
            by searching for <code>./CodeContracts/{assembly name}.Contracts.dll</code> relative to the referenced assembly.
            This allows contracts to be easily consumed by other projects when referenced as a binary reference, project reference
            and even as a NuGet package reference.
            Code Contracts also comes with contract reference assemblies for the .NET framework which can be found in
            <code>{Program Files}\Microsoft\Contracts\Contracts</code> .
        </p>

        <h3>Documentation</h3>
        <p>
            When the "Emit contracts into XML doc file" option is enabled the Code Contract tools will augment the generated XML
            for members and types with a few additional tags. The extra XML doc tags match their respective contract methods:
        </p>
        <ul>
            <li>requires</li>
            <li>ensures</li>
            <li>ensuresOnThrow</li>
            <li>invariant</li>
        </ul>
        <p>
            All four tags will contain the contract within their body as text, obviously each having a different context.
            When dealing with standard preconditions, the condition body may require some cleanup or simplification.
            Additionally the <code>requires</code> and <code>ensuresOnThrow</code> tags may also have an exception attribute with a <a href="http://msdn.microsoft.com/en-us/library/fsbx0t7x.aspx">code reference</a> to the related exception.
            Finally there is the simple <code>pure</code> tag that will mark a method as pure.
        </p>

        <p>
            At the moment the only complete way to include contract information in your documentation is through Sandcastle (please do correct me).
            The Code Contracts installer includes a patch that can be applied to Sandcastle located at
            <code>{Program Files}\Microsoft\Contracts\Sandcastle\Sandcastle.zip</code> .
        </p>

        <h3>NuGet</h3>
        <p>
            Releasing contract reference assemblies along with your library in a NuGet package is not difficult but there are a few extra steps to keep in mind.
            When you manually create a nuspec file, all DLL files within are referenced when adding a package to your project.
            Use the <code>&lt;references&gt;</code> tag to override this default behavior and explicitly specify the assemblies to reference.
            You must also add the contract reference assemblies to the correct target folder within the NuGet package.
            See the following for an example nuspec file:
        </p>
        <p class="alert alert-info">This advice may soon be out dated due to the upcoming ASP.NET vNext and changes to NuGet.</p>
        <pre class="brush:xml">
&lt;?xml version="1.0"?&gt;
&lt;package xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd"&gt;
  &lt;metadata&gt;
    &lt;id&gt;MyAssembly&lt;/id&gt;
    &lt;version&gt;1.2.3&lt;/version&gt;
    &lt;title&gt;My Assembly&lt;/title&gt;
    &lt;authors&gt;human&lt;/authors&gt;
    &lt;description&gt;Mediocre library.&lt;/description&gt;
    &lt;requireLicenseAcceptance&gt;false&lt;/requireLicenseAcceptance&gt;
    &lt;tags&gt;technology&lt;/tags&gt;
    &lt;projectUrl&gt;http://mediocresoft.com/&lt;/projectUrl&gt;
    &lt;references&gt;
      &lt;reference file="MyAssembly.dll" /&gt;
    &lt;/references&gt;
  &lt;/metadata&gt;
  &lt;files&gt;
    &lt;file src=".\bin\Release\MyAssembly.dll" target="lib\net40-client" /&gt;
    &lt;file src=".\bin\Release\MyAssembly.XML" target="lib\net40-client" /&gt;
    &lt;file
      src=".\bin\Release\CodeContracts\MyAssembly.Contracts.dll"
      target="lib\net40-client\CodeContracts" /&gt;
    &lt;!-- for symbol packages --&gt;
    &lt;file src=".\bin\Release\MyAssembly.pdb" target="lib\net40-client" /&gt;
    &lt;file src=".\src\MyAssembly\**.cs" target="src" /&gt;
  &lt;/files&gt;
&lt;/package&gt;
</pre>

        <h2>Document Info</h2>
        <p>As Code Contracts changes this document may also be updated.</p>
        <p class="alert alert-info">This article is up to date for version 1.6.60617.15 (6/19/2014).</p>
    </div>
</div>

<script type="text/javascript" src="@Url.Content("~/js/sh/shCore.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushCSharp.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushCss.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushDiff.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushJScript.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushPlain.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushPowerShell.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushSql.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushXml.js")"></script>
<script type="text/javascript">
    $(function () {
        var body = $(document.body);
        body.scrollspy({
            target: "#pagenav"
        });

        $("#pagenav").affix({
            offset: 0
        });

        SyntaxHighlighter.defaults['toolbar'] = false;
        SyntaxHighlighter.defaults['gutter'] = false;
        SyntaxHighlighter.defaults['smart-tabs'] = false;

        SyntaxHighlighter.all();

        var scrollRefresh = function () {
            body.scrollspy("refresh");
        };
        $(window).on('load', scrollRefresh);
        setTimeout(scrollRefresh, 1000);
    });
</script>