@inherits ServiceStack.Razor.ViewPage
            
<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/sh/shCore.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/sh/shThemeVS2012Dark.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/sh/scrollbarHack.css")"/>

<p>
	For my code snippets posted to the web I decided to use <a href="http://alexgorbatchev.com/SyntaxHighlighter/">SyntaxHighlighter</a>.
	It is working good enough for me but I was not too fond of the themes that it offered.
	They were either too bright or too hard to read.
	I use Visual Studio often and figured it would just make sense to use that as a theme. It is plenty readable for me.
</p>
<p>
	I made a little Visual Studio extension to extract the colors and write them out to a CSS file.
	I posted the <a href="https://bitbucket.org/aarondandy/vs-syntaxhighlighterjs-cssexport/src">code for the extension</a> but I have no idea what I am doing so the code should be considered junk.
	The resulting SyntaxHighlighter CSS files for the Visual Studio 2012 Light and Dark themes are available for download.
</p>
<h2>CSS Styles</h2>
<p>
	<a href="https://bitbucket.org/aarondandy/vs-syntaxhighlighterjs-cssexport/downloads"><strong>SyntaxHighlighter Visual Studio 2012 Light and Dark themes.</strong></a>
</p>
<h2>Example</h2>
<pre class="brush: csharp; gutter: true;">
// At the time of this writing this should be the VS2012 Dark theme.
public static void Main(string[] args){
	if(null != args &amp;&amp; args.Length > 0){
		Console.WriteLine("ARG!!!");
	}
}</pre>

<script type="text/javascript" src="@Url.Content("~/js/sh/shCore.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushCSharp.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushCss.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushDiff.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushJScript.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushPlain.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushPowerShell.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushSql.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushXml.js")"></script>

<script type="text/javascript">
  SyntaxHighlighter.defaults['toolbar'] = false;
  SyntaxHighlighter.defaults['gutter'] = false;
  SyntaxHighlighter.all();
</script>