@inherits ServiceStack.Razor.ViewPage
<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/sh/shCore.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/sh/shThemeVS2012Light.css")"/>
<link rel="stylesheet" type="text/css" href="@Url.Content("~/css/sh/scrollbarHack.css")"/>

<div class="row">
  <div class="col-md-3">
    <nav class="pagenav visible-md visible-lg" id="pagenav">
      <ul class="nav">
        <li><a href="#what-you-need">What You Need</a></li>
        <li><a href="#solution-and-project-organization">Solution and Project Organization</a>
          <ul class="nav">
            <li><a href="#project-and-code-organization">Projects and Code Organization</a></li>
            <li><a href="#assembly-versions">Assembly Versions</a></li>
            <li><a href="#installer">Installer</a></li>
            <li><a href="#vs2010-sln-issues">VS 2010 Solution Issues</a></li>
          </ul>
        </li>
        <li><a href="#debugging">Debugging</a>
          <ul class="nav">
            <li><a href="#debugging-performance">Debug Performance</a></li>
            <li><a href="#dbg-project-issues">Project Issues</a></li>
            <li><a href="#dbg-vs2010-issues">VS 2010 Debug Issue</a></li>
          </ul>
        </li>
        <li><a href="#testing">Testing</a>
          <ul class="nav">
            <li><a href="#unit-testing">Unit Testing</a></li>
            <li><a href="#integration-testing">Integration Testing</a></li>
            <li><a href="#testing-assembly-reference-issues">Assembly Reference Issues</a></li>
          </ul>
        </li>
        <li><a href="#di-ioc">DI and IoC</a>
          <ul class="nav">
            <li><a href="#ioc-issues">IoC Issues</a></li>
          </ul>
        </li>
        <li><a href="#processing-nodes">Processing Nodes</a>
          <ul class="nav">
            <li><a href="#node-declarations">Declarations</a></li>
            <li><a href="#node-declared-elms">Declared Elements</a></li>
            <li><a href="#node-locations">Node Locations</a></li>
          </ul>
        </li>
        <li><a href="#node-manipulation">Manipulating Nodes and Trees</a>
          <ul class="nav">
            <li><a href="#node-crud">CRUD for Nodes</a></li>
            <li><a href="#node-create-comment">Creating C# Comment Nodes</a></li>
            <li><a href="#node-create-string">Creating C# String Literal Nodes</a></li>
            <li><a href="#node-create-html">Creating HTML Nodes</a></li>
            <li><a href="#node-create-js">Creating JavaScript Nodes</a></li>
          </ul>
        </li>
        <li><a href="#identifier-names">Identifier Names</a></li>
        <li><a href="#resharper-settings">ReSharper Settings</a>
          <ul class="nav">
            <li><a href="#resharper-settings-list">List</a></li>
          </ul>
        </li>
        <li><a href="#refactoring">Refactoring</a>
          <ul class="nav">
            <li><a href="#refactoring-name-change">Name Changes</a></li>
          </ul>
        </li>
        <li><a href="#rs-icons">Icons</a></li>
      </ul>
    </nav>
  </div>
  <div class="col-md-9">

    <p>
      Recently I wrote a plug-in for ReSharper, <a href="https://bitbucket.org/aarondandy/youcantspell/">You Can't Spell</a>.
	It was just a simple spell check tool that I wanted to write as a weekend project.
	Yeah right! Nearly two months later my weekend project was finished and I released it.
	This post contains some tips and strategies I learned from my experience.
    </p>
    <h2 id="what-you-need">What You Need</h2>
    <ul>
      <li><a href="http://www.wixtoolset.org/">WiX Toolset</a></li>
      <li>Visual Studio Pro+ *</li>
      <li><a href="http://www.jetbrains.com/resharper/buy">ReSharper</a> *</li>
      <li><a href="http://www.jetbrains.com/resharper/download/index.html#related">ReSharper SDK</a> (each version you will target)</li>
      <li><a href="http://confluence.jetbrains.net/display/ReSharper/ReSharper+7+Plugin+Development">ReSharper SDK Documentation</a> &larr; read this</li>
    </ul>
    * Be aware that some of these things cost lots money which many of us have little of. There are some solutions for you!
    <ul>
      <li>You are a college student.
		<ul>
      <li>Check with your school to see if they offer MSDNAA. Probably the CS/IS/IT department.</li>
      <li>JetBrains offers cheaper academic pricing.
				If you blew the leftovers of your loan check on other stuff then get into open source for the experience and maybe a free ReSharper license.</li>
    </ul>
      </li>
      <li>You own a small/tiny software "business."
		<ul>
      <li>Look into <a href="http://www.microsoft.com/bizspark/">BizSpark</a></li>
    </ul>
      </li>
      <li>You do open source stuff.
		<ul>
      <li>Start a "business" then see above.</li>
      <li>E-mail JetBrains and ask for free stuff; you should reach a human. Also mention the plug-in you would like to write that may enhance their revenue.</li>
    </ul>
      </li>
    </ul>

    <h2 id="solution-and-project-organization">Solution and Project Organization</h2>
    <div>Note: You may want to grab a copy of my project from <a href="https://bitbucket.org/aarondandy/youcantspell">BitBucket</a> using <a href="http://tortoisehg.bitbucket.org/download/index.html">Mercurial</a>.</div>
    <h3 id="project-and-code-organization">Projects and Code Organization (my way)</h3>
    <p>
      It helps to decide first what versions of Visual Studio and ReSharper you will be targeting.
	Each ReSharper version that you will target should have its own project as it will reference
	a different ReSharper SDK and there may be breaking code changes between each version.
    </p>
    <p>
      For each project you should define Conditional compilation symbols that describe the version of ReSharper the project is targeting
	(<a href="https://bitbucket.org/aarondandy/youcantspell/src/d2de83a7c3344270803bd55eabe4c0cba8d8d7f2/src/YouCantSpell.ReSharper.v71/YouCantSpell.ReSharper.v71.csproj?at=default#cl-22">example</a>).
	I define two for each project; One for the major version and another or the major and minor version.
	For example, MyPlugin.ReSharper.v71 would have RSHARP7 and RSHARP71 defined.
	This lets me use the preprocessor to conditionally compile different sections of code depending on what version of the API I am compiling against
	(<a href="https://bitbucket.org/aarondandy/youcantspell/src/d2de83a7c334/src/YouCantSpell.ReSharper.Shared/SpellingQuickFixBase.cs?at=default#cl-60">example</a>).
    </p>
    <p>
      Each project also shares the same root namespace but will have a different assembly name corresponding to the ReSharper version
	(<a href="https://bitbucket.org/aarondandy/youcantspell/src/d2de83a7c334/src/YouCantSpell.ReSharper.v70/YouCantSpell.ReSharper.v70.csproj?at=default#cl-12">example</a>).
	This helps prevent any confusion over which assemblies reference which SDK version.
    </p>
    <p>
      Each of my plug-in projects has very little code within their directories.
	Instead I put all of the code into a
	<a href="https://bitbucket.org/aarondandy/youcantspell/src/d2de83a7c334/src/YouCantSpell.ReSharper.Shared?at=default">shared folder</a> (<em>not</em> a common project or assembly)
	and each project references the same code using links
	(<a href="https://bitbucket.org/aarondandy/youcantspell/src/d2de83a7c334/src/YouCantSpell.ReSharper.v71/YouCantSpell.ReSharper.v71.csproj?at=default#cl-50">example</a>).
	I then use the preprocessor to handle different versions of the API
	(<a href="https://bitbucket.org/aarondandy/youcantspell/src/d2de83a7c334/src/YouCantSpell.ReSharper.Shared/SpellingQuickFixBase.cs?at=default#cl-60">example</a>).
	A nice time saver with linked files is that you can make links that go to entire folders using wild-cards but eventually Visual Studio will flatten them out into individual items.
    </p>
    <p>
      If you go with this project setup you will find that it is extremely important to keep as much code as is possible in a shared assembly to
	simplify the creation of new plug-in projects and ease maintenance. Maintaining the linked files can be error prone and annoying.
    </p>
    <h3 id="assembly-versions">Assembly Versions</h3>
    <p>
      Assembly versions and installer versions are somewhat important.
	For any given release of your plug-in you may want all of your files to share a common version number.
	I am lazy and use the N.M.* format but if you want to do it right use source control branching and a CI system to generate version numbers.
	You can have a common file with
	<a href="https://bitbucket.org/aarondandy/youcantspell/src/d2de83a7c3344270803bd55eabe4c0cba8d8d7f2/src/YouCantSpellAssemblyInfo.cs?at=default">shared assembly information</a>
      and <a href="https://bitbucket.org/aarondandy/youcantspell/src/d2de83a7c3344270803bd55eabe4c0cba8d8d7f2/src/YouCantSpell.ReSharper.v71/YouCantSpell.ReSharper.v71.csproj?at=default#cl-147">link it</a>
      within your projects. Then your
	<a href="https://bitbucket.org/aarondandy/youcantspell/src/d2de83a7c334/build/YouCantSpell.Installer.v71/YouCantSpell.Installer.v71.wixproj?at=default#cl-23">installer version can be derived from the assembly version</a>
      so everything matches up nicely.
  Keep in mind that because of the way the MSI system works <strong>only the first 3 parts of a version are significant</strong> for upgrades.
    </p>
    <h3 id="installer">Installer</h3>
    <p>
      I use the <a href="http://www.wixtoolset.org/">WiX Toolset</a> to generate MSI packages.
	I don't really know what I am doing but hopefully my
	<a href="https://bitbucket.org/aarondandy/youcantspell/src/d2de83a7c334/build/YouCantSpell.Installer.v71/Product.wxs?at=default">example wxs</a>
      can help you out. Something important to note is that I install to the user's local "AppData" folder instead of the Program Files folder.
	This is because Visual Studio is sometimes run under a restricted account and may not have needed access
	to the Program Files directory to run the plug-in.
    </p>
    <h3 id="vs2010-sln-issues">Visual Studio 2010 Solution Issues</h3>
    <p>
      There is an issue with Visual Studio 2010 where it will only properly debug a ReSharper plug-in that is targeting .NET 4.0.
	If you wish to release the plug-in against .NET 3.5 you will need to have two projects, one for debugging and another for release.
	I have an <a href="https://bitbucket.org/aarondandy/youcantspell/src/d2de83a7c3344270803bd55eabe4c0cba8d8d7f2/src?at=default">example</a> on my project site of this structure.
    </p>

    <h2 id="debugging">Debugging</h2>
    <h3 id="debugging-performance">Debug Performance</h3>
    <p>
      Debugging ReSharper and your plug-in is brew-a-cup-of-coffee slow! If you want to ever get anything done, never start with the debugger attached unless you need to.
    </p>
    <ol>
      <li>Start with <code>Ctrl+F5</code> or <code>Debug</code>&rarr;<code>Start Without Debugging</code>.</li>
      <li>Open your ConsoleApplication42 that you want to debug your plug-in against.</li>
      <li>Then right before you trigger an action that would reach your breakpoint or throw an exception attach the debugger: <code>Debug</code>&rarr;<code>Attach to Process...</code></li>
      <li>Detach when done: <code>Debug</code>&rarr;<code>Detach all</code>.</li>
    </ol>
    <h3 id="dbg-project-issues">Project Issues</h3>
    <p>
      Your plug-in project should be configured to launch a new Visual Studio instance with the debugger attached and with your plug-in loaded.
	Normally it works but I ran into issues with this.
	<ul>
    <li>If your plug-in is installed on the development system ReSharper will get confused (two of the same plug-in).
			Make sure to un-install your plug-in if you installed it before debugging it.</li>
    <li>If you set the project up wrong or didn't copy the debug launch settings to another computer maybe, you will need to reconfigure that.
			<ol>
        <li>Right click your project then select <code>Properties</code>.</li>
        <li>Click the <code>Debug</code> tab on the left.</li>
        <li>Select <code>Start external program:</code> and enter the path to your <code>devenv.exe</code> (Visual Studio).</li>
        <li>Set the <code>Command line arguments</code> to: <code>/ReSharper.Plugin &lt;your-plugin&gt;.dll</code>, obviously substituting your plug-in DLL file.</li>
        <li>Set the <code>Working directory</code> to: <code>&lt;the-folder-containing-your-plugin-dot-dll&gt;\</code></li>
      </ol>
    </li>
  </ul>
    </p>
    <h3 id="dbg-vs2010-issues">Visual Studio 2010 Debug Issue</h3>
    <p>
      If you are using Visual Studio 2010 and the debugger is behaving as if it is not attached see the above section: Visual Studio 2010 Solution Issues.
	You may need to target .NET 4.0 for debugging to work.
    </p>

    <h2 id="testing">Testing</h2>
    <h3 id="unit-testing">Unit Testing</h3>
    <p>
      If you are going to write tests for your plug-in I recommend you do as much unit testing as possible on your shared assemblies.
	The integration testing is in my opinion very difficult and tedious to get right.
    </p>
    <h3 id="integration-testing">Integration Testing</h3>
    <p>
      JetBrains provides a bit of framework to help you test your plug-in but I still found it difficult and very tedious when working with multiple versions of ReSharper.
	I highly recommend using the ReSharper Plug-In Tests project wizard to create your plug-in test projects instead of starting from scratch.
	The testing works by
	<a href="https://bitbucket.org/aarondandy/youcantspell/src/d2de83a7c334/src/YouCantSpell.ReSharper.v61.Test/SpellingHighlightingTest.cs?at=default">running your plug-in</a>
      against
	<a href="https://bitbucket.org/aarondandy/youcantspell/src/d2de83a7c334/test/data/Simple/Highlight/Mispeled.cs?at=default">input files</a>
      and comparing the result against
	<a href="https://bitbucket.org/aarondandy/youcantspell/src/d2de83a7c334/test/data/Simple/Highlight/Mispeled.cs.gold?at=default">"gold files"</a>
      which you can either write or rename after a test is first run.
    </p>
    <h3 id="testing-assembly-reference-issues">Assembly Reference Issues</h3>
    <p>
      One thing I found out the hard way is that your test assemblies <em>may not</em> share the same output folder as your plug-in.
	The ReSharper Plug-In Tests project wizard adds a bunch of assemblies that are required to run the tests but mess with your plug-in during debug.
	Because of this I have a
	<a href="https://bitbucket.org/aarondandy/youcantspell/src/d2de83a7c3344270803bd55eabe4c0cba8d8d7f2/src/YouCantSpell.ReSharper.v61.Test/YouCantSpell.ReSharper.v61.Test.csproj?at=default#cl-21">special output folder for my test</a>
      projects.
    </p>

    <h2 id="di-ioc">Dependency injection and Inversion of Control</h2>
    When you are working on a plug-in and need an instance of a ReSharper class you can probably get one from their IoC containers or have it injected into your classes.
Most of your classes that implement ReSharper interfaces seem to receive their parameters through dependency injection.
You can sometimes find ways to access needed instances from parameters or members you already have but may need to call directly to one of their IoC containers.
You can even use their IoC containers for your own classes.
    <pre class="brush: csharp;">
[ShellComponent] // Tell ReSharper to manage the lifetime of this class.
public class MyStuff {
	public MyStuff([NotNull] ISettingsStore someRequiredStuff){
		// 'someRequiredStuff' will be injected by ReSharper.
	}
	public string ImportantStuff { get; private set; }
}
// ...
public class DoesStuff {
	public void ProcessThings(IEnumerable things){
		var myStuff = Shell.Instance.GetComponent&lt;MyStuff&gt;();
		// do stuff...
	}
}
</pre>
    <h3 id="ioc-issues">IoC Issues</h3>
    I ran into some issues getting instances from the component system.
Specifically in my settings form I could not figure out how to access an instance of my own class marked as a <code>ShellComponent</code>.
I had to resort to having a <code>WeakReference</code> that pointed to the most recent instance.
I couldn't just create a singleton as ReSharper is supposed to manage the lifetime of the object.
It feels dirty but that was the best I could come up with at the time.
    <pre class="brush: csharp;">
[ShellComponent] // Tell ReSharper to manage the lifetime of this class.
public class MyStuff {
	private static WeakReference _mostRecentInstance;
	public static MyStuff Instance {
		get {
			var instance = Shell.Instance.GetComponent&lt;MyStuff&gt;();
			return (null == instance && null != _mostRecentInstance)
				? _mostRecentInstance.Target as MyStuff // dirty hack
				: instance;
		}
	}
	public MyStuff([NotNull] ISettingsStore someRequiredStuff){
		_mostRecentInstance = new WeakReference(this);
	}
}
</pre>

    <h2 id="processing-nodes">Processing Nodes</h2>
    ReSharper parses the code files into a tree for you, its pretty handy.
ReSharper also allows you to manipulate that tree and have the changes reflected in the editor.
This way you can edit and process code files in an object oriented way.
It works out pretty well once you get the hang of their way of doing things.
    <h3 id="node-declarations">Declarations</h3>
    There is a class of node called a declaration that can be identified by the IDeclaration interface.
I often ran into situations where the node I had was an ITreeNode when I needed an IDeclaration but the node I had did not implement that interface.
It turns out that if the node you have does not implement the IDeclaration interface its parent or grandparent may.
A variable identifier for example may be represented by both a parent and child node; one of which may be the IDeclaration you are looking for.
    <pre class="brush: csharp;">
[CanBeNull]
public static IDeclaration GetDeclaration(ITreeNode node) {
	while (null != node) {
		var declaration = node as IDeclaration;
		if (null != declaration)
			return declaration;
		node = node.Parent;
	}
	return null;
}
</pre>
    <h3 id="node-declared-elms">Declared Elements</h3>
    After you get a declaration for a tree node you can get the declared element which can give you even more information or instances that you need.
    <pre class="brush: csharp;">
[CanBeNull]
public static IDeclaredElement GetDeclaredElement(ITreeNode node) {
	var declaration = GetDeclaration(node); // see above
	return null == declaration ? null : declaration.DeclaredElement;
}
</pre>
    <h3 id="node-locations">Node Locations</h3>
    <p>
      A tree node has a location within a document.
	For simple documents like a C# code file this is pretty straight forward.
	For an MVC razor document however things get tricky.
	Consider that a cshtml file can contain HTML, JavaScript, and C#.
	ReSharper handles documents like this by treating them as multiple documents.
	Now not only do you need to worry about where in a document your node is but which document.
    </p>
    <p>
      Nodes can offer what is called a <code>TreeTextRange</code> that has information about the location of the node.
	You can get an instance of this from the <code>GetTreeTextRange()</code> method.
	Additionally some more specific interfaces have different ranges they can offer.
	For example the <code>IComment</code> interface provides a <code>GetCommentRange()</code> method.
    </p>
    <p>
      Typically though you will need to work with a <code>DocumentRange</code> instance.
	As I understand it this offers more context regarding the text range.
	Because of the complexity involved with multiple documents you have to go through some extra steps to make sure you get the right instance.
    </p>
    The first thing you need is an instance of <code>IFile</code>. This example is for an <code>ICSharpFile</code>.
    <pre class="brush: csharp;">
public static ICSharpFile GetCSharpFile(IPsiSourceFile sourceFile) {
#if RSHARP6
	return sourceFile.GetPsiFile(CSharpLanguage.Instance) as ICSharpFile;
#else
	return sourceFile.GetPsiFiles&lt;CSharpLanguage&gt;()
		.OfType&lt;ICSharpFile&gt;().SingleOrDefault();
#endif
}
</pre>
    Then using that <code>IFile</code> instance you can get the correct document range.
    <pre class="brush: csharp;">
var codeFile = GetCSharpFile(PsiSourceFile);
var documentRange = codeFile.GetIntersectingRanges(range)
	.First(x => x.Document == PsiSourceFile.Document);
</pre>
    This document range can be used to create a ReSharper highlighting in the correct spot within the code file you are processing.

    <h2 id="node-manipulation">Manipulating Nodes and Trees</h2>
    Manipulating the node tree can be somewhat tricky.
Each language seems to have a different way of doing things.

    <h3 id="node-crud">CRUD for Nodes</h3>
    A handy utility class for mutating the document tree is the <code>ModificationUtil</code>.
It allows you to add, delete, and replace nodes in the document tree.
    <pre class="brush: csharp;">
ModificationUtil.ReplaceChild(oldStringLiteralNode, newStringLiteralNode);
</pre>

    <h3 id="node-create-comment">Creating C# Comment Nodes</h3>
    <pre class="brush: csharp;">
var elementFactory = CSharpElementFactory.GetInstance(node.GetPsiModule());
var newComment = elementFactory.CreateComment(newText);
</pre>
    <h3 id="node-create-string">Creating C# String Literal Nodes</h3>
    <pre class="brush: csharp;">
var elementFactory = CSharpElementFactory.GetInstance(node.GetPsiModule());
// NOTE: newText needs quotes "" or literal quotes @@""
var newStringLiteral = elementFactory.CreateExpression("$0", newText);
</pre>
    <h3 id="node-create-html">Creating HTML Nodes</h3>
    <pre class="brush: csharp;">
var elementFactory = HtmlElementFactory.GetInstance(node.Language);
// NOTE: may return multiple nodes, all of them should be used together:
var newElements = elementFactory.CompileText(someNewHtmlText, node).ToList();
// ...
// EXAMPLE: replace one node with the result of CompileText:
if(newElements.Count > 0){
	var recentNode = ModificationUtil.ReplaceChild(oldNode, newElements[0]);
	for(int i = 1; i < newElements.Count; i++) {
		recentNode = ModificationUtil.AddChildAfter(
			recentNode.Parent, recentNode, newElements[i]);
	}
}
</pre>
    <h3 id="node-create-js">Creating JavaScript Nodes</h3>
    <pre class="brush: csharp;">
[CanBeNull]
private static ITreeNode CreateNode(
	[NotNull] IPsiSourceFile file,
	[NotNull] IPsiModule module,
	[NotNull] LanguageService languageService,
	string javaScriptText
) {
	// parse the JavaScript text into new node instances
	var lexer = languageService.GetPrimaryLexerFactory()
		.CreateLexer(new StringBuffer(javaScriptText))
	var parser = languageService.CreateParser(
		lexer,
		module,
		file
	) as IJavaScriptParser;
	if (null != parser) {
		var newNodes = parser.ParseFile();
		if (null != newNodes)
			return newNodes.LastChild;
	}
	return null;
}
</pre>

    <h2 id="identifier-names">Identifier Names</h2>
    You can use ReSharper's built in naming utilities.
First you have to get access to the naming manager and provider.
    <pre class="brush: csharp;">
public class MyDaemonStageProcess : IDaemonStageProcess{
	public MyDaemonStageProcess(
		[NotNull] IDaemonProcess process,
		[NotNull] IContextBoundSettingsStore settingsStore,
		[NotNull] PsiLanguageType languageType
	) {
		PsiSourceFile = process.SourceFile;
		var psiServices = PsiSourceFile.PsiModule.GetPsiServices();
		// get the naming manager
		NamingManager = psiServices.Naming;
		// get the naming policy provider
		NamingPolicyProvider = psiServices.Naming.Policy
			.GetPolicyProvider(languageType, process.SourceFile, settingsStore);
	}
	// ...
}
</pre>
    After you have an instance of the naming manager and provider you can then parse names using ReSharper.
    <pre class="brush: csharp;">
public Name ParseName(string name){
	return NamingManager.Parsing.Parse(
		name, NamingRule.Default, NamingPolicyProvider);
}

public Name ParseName(IIdentifier identifier) {
	var declared = GetDeclaredElement(identifier); // see above
	var namingRule = null == declared
		? NamingRule.Default
		: NamingPolicyProvider.GetPolicy(declared).NamingRule
	return NamingManager.Parsing.Parse(
		identifier.Name, namingRule, NamingPolicyProvider);
}
</pre>

    <h2 id="resharper-settings">ReSharper Settings</h2>
    ReSharper lets you use their settings system for your own plug-in.
There are plenty of advantages to this so consider it before you just go dropping XML files in some folder.
    <h3 id="resharper-settings-list">List</h3>
    <p>
      Saving primitive variables to the settings is simple enough but saving collections of strings for example is not so simple.
ReSharper does not offer any kind of simple collection setting type but they do offer an index entry type.
The index entry type works like a generic dictionary so if I need a list of strings I can use an index entry
of type <code>IIndexEntry&lt;string,byte&gt;</code> where the key contains the string I wish to store and the byte will contain garbage.
    </p>
    You define an index entry like in the following example.
    <pre class="brush: csharp;">
[SettingsKey(typeof(EnvironmentSettings), "My Settings")]
public class MySettings {
	[SettingsIndexedEntryAttribute("Some Names")]
	public IIndexedEntry&lt;string, byte&gt; SomeNames { get; set; }
}
</pre>
    You can then enumerate and modify the settings collection like the next example.
    <pre class="brush: csharp;">
// read all
var someWords = settings
	.EnumEntryIndices&lt;SpellCheckSettings, string, byte&gt;(x => x.SomeNames)
// set an item
settings.SetIndexedValue((MySettings x) => x.SomeNames, name, default(byte));
// remove an item
settings.RemoveIndexedValue((MySettings x) => x.SomeNames, name);
</pre>
    <p>
      This method ends up behaving more like a <code>HashSet&lt;string&gt;</code>.
	If you need something like a true list you can do that to too.
	You still need to use key value pairs but you can use the list index as the key and the list item as the value: <code>IIndexEntry&lt;int,string&gt;</code>.
    </p>
    <h2 id="refactoring">Refactoring</h2>
    <h3 id="refactoring-name-change">Name Changes</h3>
    <p>
      If you dig around in the sample project you can find a utility class that triggers ReSharper renames for you.
	I don't know of any documentation for it or what the magic values mean but so far it is the best way I know of to do it.
	You can find this magical beast within your ReSharper SDK folder at "\SDK\Samples\SamplePlugin\SamplePlugin\src\CallRename\CallRenameUtil.cs" .
    </p>

    <h2 id="rs-icons">Icons</h2>
    <p>
      In ReSharper 6 you could just give your options pane an embedded PNG file, that was nice.
In ReSharper 7 it was changed to something a bit more complex.
You have to jump through some code generation hoops the first time but it should be smooth after that.
If for some reason you have trouble getting icons to work, try the following steps:
    </p>
    <ol>
      <li>Right click your project and select <code>Unload</code>.</li>
      <li>Right click your project again and select <code>Edit ...</code></li>
      <li>Scroll all the way down to the bottom. You will want something that looks like this:
		<pre class="brush: xml;">
&lt;Import Project="$(MSBuildToolsPath)\Microsoft.CSharp.targets" /&gt;
&lt;Import Project="$(ReSharperSdkTargets)\Plugin.Targets" /&gt;
&lt;Import Project="$(ReSharperSdkTools)\MSBuild\JetBrains.Build.Platform.ThemedIconsConverter.Targets" /&gt;
		</pre>
      </li>
      <li>Right click your project a 3rd time and select <code>Reload</code>.</li>
      <li>You should have some folder in your project that you can put resources in, I called mine <code>resources</code>.</li>
      <li>Make sure your PNG icon is in that folder.</li>
      <li>Right click the PNG and select Properties.</li>
      <li>In the properties pane make sure the BuildAction is <code>ThemedIconPng</code> .</li>
      <li>Build your project again. When you build the project the <code>ThemedIconPng</code> action will generate some new files for you.</li>
      <li>Right click your resources folder and select "Add Existing Item..."</li>
      <li>Add the generated <code>cs</code> and <code>xaml</code> files. You may need to set the filter to All Files.</li>
      <li>You should be good to go now.</li>
    </ol>

    You can attach the icon to a settings form like this:
    <pre class="brush: csharp;">
[OptionsPage(
	Pid,
	"My Settings Form",
	typeof(UnnamedThemedIcons.MyIcon),
	ParentId = EnvironmentPage.Pid,
	Sequence = 100
)]
public partial class MyOptionsControl : UserControl, IOptionsPage {
	// ...
}
</pre>

    You can use the icon in a bulb item like this:
    <pre class="brush: csharp;">
public class MyQuickFix : IQuickFix {
	// ...
	public void CreateBulbItems(BulbMenu menu, Severity severity)
	{
		var defaultGroup = menu.GetOrCreateGroup(Anchor.DefaultAnchor);
		var subMenu = defaultGroup.GetOrCreateSubmenu(new BulbMenuItemViewDescription(
			new Anchor("MyStuff", new AnchorRelation[0]),
			UnnamedThemedIcons.MyIcon.Id,
			"Stuff"
		));
		subMenu.Submenu.ArrangeQuickFixes(Items
			.Select(x => new Pair&lt;IBulbAction, Severity&gt;(x,severity)));
	}
	// ...
}
</pre>

    <hr />
    <div>Good luck and hope this helps.</div>
    <div>Comment over on <a href="http://www.reddit.com/r/dotnet/comments/13uuc8/what_i_learned_about_writing_resharper_plugins/">reddit</a>.</div>

  </div>
</div>

<script type="text/javascript" src="@Url.Content("~/js/sh/shCore.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushCSharp.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushCss.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushDiff.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushJScript.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushPlain.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushPowerShell.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushSql.js")"></script>
<script type="text/javascript" src="@Url.Content("~/js/sh/shBrushXml.js")"></script>

<script type="text/javascript">

  $(function() {
    var body = $(document.body);
    body.scrollspy({
      target: "#pagenav"
    });
    
    $("#pagenav").affix({
      offset: 0
    });
    
    SyntaxHighlighter.defaults['toolbar'] = false;
    SyntaxHighlighter.defaults['gutter'] = false;
    SyntaxHighlighter.all();

    var scrollRefresh = function() {
      body.scrollspy("refresh");
    };
    $(window).on('load', scrollRefresh);
    setTimeout(scrollRefresh, 1000);

  });
</script>
